---

import { Image } from "astro:assets";

const { title, lead, tags, date, headerImage, readingTime } = Astro.props;
const isHeaderAsset = !!headerImage && typeof headerImage === "object" && "src" in headerImage;
const headerSrc = !isHeaderAsset ? headerImage : null;
const formattedDate = date ? new Date(date).toLocaleDateString('pl-PL', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit'
}) : null;
---

  
<section class="relative pt-28 pb-12 md:pt-40 md:pb-8 border-b border-gray-300">
  
  <div class="relative grid gap-10">
      {headerImage ? (
    isHeaderAsset ? (
      <Image
        src={headerImage}
        alt=""
        class="aspect-[8/2] w-full object-cover object-top rounded-sm"
        sizes="100vw"
        widths={[640, 960, 1280, 1600, 1920]}
        loading="lazy"
        decoding="async"
        aria-hidden="true"
      />
    ) : (
      <img
        class="h-full w-full"
        src={headerSrc}
        sizes="100vw"
        loading="lazy"
        decoding="async"
        alt=""
        aria-hidden="true"
      />
    )
  ) : null}
    <div class="space-y-2 max-w-6xl">
        <div class="text-[8px] md:text-[10px] uppercase tracking-[0.1em] text-black/70 mb-3 md:mb-6 font-semibold">
        <span>Główna</span>
        <span class="text-[var(--accent)]"> > </span>
        <span class="textblack/90"> {title}</span>
      </div>
    <h1 class="text-2xl sm:text-3xl md:text-4xl text-black lg:text-5xl font-semibold" data-pagefind-body>
      {title}
    </h1>

  <div class="max-w-2xl">

  <div class="flex flex-wrap gap-x-8 gap-y-2 mt-8 border-t border-white/25 font-semibold text-[8px] md:text-[10px] tracking-[0.15em] uppercase text-black/70">
    {tags && tags.length > 0 && (
      <div>
        Kategoria <span class="text-[var(--accent)]"> > </span> <span class="text-black/90">{tags[0]}</span>
      </div>
    )}
    {formattedDate && (
      <div class="">
        Opublikowano <span class="text-[var(--accent)]"> > </span> <span class="text-black/90">{formattedDate}</span>
      </div>
    )}

    {readingTime ? (
      <div class="text-gray-400">
        {readingTime}
      </div>
    ) : null}

  </div>
</div>

    </div>
  </div>
</section>
